python-dotenv
dotmap
typing_extensions
arrow
tzlocal
tabulate
nest_asyncio
aiohttp
pandas
numpy
boto3
ccxt
ccxtpro
massive
websockets>=15.0.1
web3
feedparser
futu-api
plotext
yfinance
yahoofinancials
hurst
rapidfuzz
redis
redis-py-cluster
kafka-python
discord